<p>Beste <%= @resource.email %>!</p>

<p>Iemand heeft verzocht om uw wachtwoord opnieuw in te stellen. U kunt dat doen met de onderstaande link.</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Indien u dit niet zelf heeft gedaan en/of u uw wachtwoord niet opnieuw wilt instellen, dan kunt u deze e-mail negeren.</p>
<p>Uw wachtwoord wordt niet veranderd zonder dat u daartoe zelf actie toe hebt ondernomen.</p>
