<div class="row">
  <div class="large-12 columns">
    <h1>Vragenlijst kwaliteit van leven bij COPD</h1>
    <p>Bij veel onderzoek naar de behandeling van COPD wordt gekeken of de kwaliteit van leven van patiënten met COPD kan worden verbeterd. Om kwaliteit van leven in kaart te brengen worden vragenlijsten gebruikt. Deze vragenlijsten zijn helaas niet altijd even goed bruikbaar en er is behoefte aan een betere vragenlijst. Wij willen u vragen mee te doen aan een onderzoek naar de ontwikkeling van een nieuwe kwaliteit van leven vragenlijst voor COPD. De vragen zijn met COPD patiënten, longartsen, fysiotherapeuten en verpleegkundigen gekozen/ontwikkeld. Het onderzoek wordt gefinancierd door het <a href="https://www.longfonds.nl/">Longfonds (voorheen Astmafonds)</a>.</p>
    <p>Uw antwoorden op de vragen zullen vertrouwelijk behandeld worden.</p>
    <h3>Korte toelichting op het invullen van de vragenlijst</h3>
    <p>De vragenlijst bevat verschillende typen vragen. Soms wordt u gevraagd aan te geven in hoeverre u het eens bent met een stelling. Sommige vragen gaan over hoe vaak u last had van bepaalde klachten of gevoelens. Bij andere vragen moet u aangeven in hoeverre u bepaalde activiteiten nog kunt ondernemen. Bij elke vraag mag u maar één antwoord kiezen. Kies altijd het antwoord dat het beste bij u past.</p>
    <p>Mocht u vragen hebben, dan kunt u contact opnemen met mw. dr. Paap.</p>
    <%= link_to "Start de test", new_participant_path, class: 'button'%>

    <p>Met vriendelijke groet,<br/><br/>
    <strong>Prof. dr. Job van der Palen</strong><br/>
    Klinisch epidemioloog, Medisch Spectrum Twente, Enschede<br/>
    <strong>Dr. Muirne Paap</strong><br/>
    Onderzoeker, Universiteit Twente, Enschede</p>
  </div>
</div>