<div class="row">
  <div class="large-12 columns" style="padding-top: 3em">
    <h1>COPD-MultiCAT</h1>
    <h3 class="subheader">Adaptieve kwaliteit van leven vragenlijst voor mensen met COPD</h2>

    <p>Deze vragenlijst is bedoeld om inzicht te verkrijgen in uw kwaliteit van leven, en de mate waarin deze wordt beïnvloed door uw COPD. Uw ervaringen staan centraal. Er zijn dan ook geen goede of foute antwoorden. Probeert u a.u.b. spontaan te antwoorden op de vragen en niet te lang na te denken over een antwoord.
</p>
    <p>U krijg minimaal 12 en maximaal 30 vragen. De vragenlijst is adaptief, dat betekent dat de vervolgvraag die u krijgt afhangt van uw antwoord op de vorige vraag. De eerste 12 vragen worden min of meer willekeurig door de computer gekozen, daarna begint het adaptieve deel. De vragen gaan over verschillende aspecten van kwaliteit van leven: lichamelijk functioneren, COPD-gerelateerde klachten, vermoeidheid en sociale activiteiten.</p>

    <p>De computer maakt automatisch een rapportage op basis van de door u gegeven antwoorden. Deze rapportage is bedoeld voor uw hulpverlener. Uw hulpverlener kan de rapportage gebruiken om te kijken of uw situatie is veranderd ten opzichte van de vorige keer, of om te kijken hoe u zich voelt vergeleken met andere COPD-patiënten.</p>

    <p>Deze vragenlijst is ontwikkeld aan de afdeling Onderzoeksmethodologie, Meetmethoden en Data-Analyse van de Universiteit Twente onder leiding van Dr. M. C. S. Paap en Prof. Dr. J. van der Palen, in samenwerking met de Dutch-Flemish PROMIS groep. De ontwikkeling is gesubsidieerd door het Longfonds. Voor meer informatie kunt u contact opnemen met Prof. van der Palen: <a href="mailto:J.vanderPalen@mst.nl">J.vanderPalen@mst.nl</a>.
      </p>

    <%= link_to "Naar de vragenlijst", new_participant_path, class: 'button'%>

  </div>
</div>